.back {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    font-family: "Red Hat Display";
    font-weight: 600;
    font-size: 2em;

    a {
        font-size: 1.4em;
        margin-right: .2em;
        margin-left: -.8em;

        font-family: "Red Hat Display";
    }
}

@media (max-width: 991px) {
    .back a {
        margin-left: 0;
    }
}