.edit-button {
    background: transparent;
    color: rgb(46, 119, 202);
    border: none;
    outline: none;
    margin: .2em;
    padding: .8em;
    border-radius: .4em;
    font-size: 1.1em;
    height: 1.3em;
    width: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;


}

.edit-button:hover {
    transition: .2s;
    background: rgb(46, 119, 202);
    color: white;
}

.delete-button {
    background: transparent;
    color: rgb(182, 14, 14);
    border: none;
    outline: none;
    margin: .2em;
    padding: .8em;
    border-radius: .4em;
    font-size: 1.1em;
    height: 1.3em;
    width: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.delete-button:hover {
    transition: .2s;
    background: rgb(182, 14, 14);
    color: white;
}

.create-button {
    color: var(--button-text-color);
    background-color: var(--button-color);
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1em;
    width: 3em;
    height: 3em;
    text-align: center;

    transition: .5s;
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, .4);
    cursor: pointer
}

.create-button:hover {
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.dark-container {
    position: relative;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark-dark {
        position: absolute;
        top: -.5em;
        left: 0;
        height: 2.5em;
        width: 4.5em;
        background-color: rgba(15, 26, 38, 1);
        border-radius: 2em;
        border: 2px solid rgba(107, 108, 120, 1);
        color: rgb(235, 188, 60);
    }

    input:checked~.checkmark-dark {
        background: rgba(230, 238, 255, 1);
        transition: .2s
    }

    .checkmark-dark::after {
        content: "☀";
        height: calc(2.5em - 4px);
        width: calc(2.5em - 4px);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border: rgba(54, 131, 238, 1);
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
    }

    input:checked~.checkmark-dark::after {
        transition: .2s;
        transform: translateX(2em);
        background: rgba(15, 26, 38, 1);
        content: "🌙";

    }
}

.complete-container {
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-right: 2em;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark-complete {
        position: absolute;
        top: -.15em;
        left: 0;
        height: 1.5em;
        width: 1.5em;
        background-color: var(--background-color);
        border-radius: 50%;
        border: 1px solid var(--line-color);
        color: var(--button-text-color);
    }

    .checkmark-complete::after {
        content: "";
        position: absolute;
        display: none;

        left: .5em;
        top: .25em;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    input:checked~.checkmark-complete {
        background-color: rgba(23, 56, 97, 1);
    }

    input:checked~.checkmark-complete::after {
        display: block;
    }



}