.footer-container {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-color);

    .footer-content {
        width: 90%;
        height: 3em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}