.full-window-outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1;

    .full-window-container {
        padding: 2em 5em;
        padding-bottom: 4.5em;
        margin-bottom: 5em;
        border-radius: .8em;
        background-color: var(--background);
        color: var(--text-color);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;


        .form-container {
            form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                width: 100%;

                input {
                    height: 2em;
                    font-size: 1em;
                    width: 100%;
                }

                button {
                    width: auto;
                    font-size: 1em;
                    position: absolute;
                    bottom: 2em;
                }
            }
        }

        .subtask-forms {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 75%;

            max-height: 30vh;
            overflow-y: auto;

            .subtask-edit-form {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;


                input {
                    width: 100%;
                    background: transparent;
                    border: 1px solid var(--text-color);
                    color: var(--text-color);
                    padding: 0 .2em;
                    border-radius: .3em;
                }

                button {
                    margin: 0;
                    padding: 0;
                    margin-left: .5em;

                }
            }

            .subtask-create-form {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: .5em;

                input {
                    width: 100%;
                }

                .button-container {
                    width: fit-content;

                    button {
                        padding: 0;
                        margin-left: .5em;
                        height: 1.3em;
                        width: 1.3em;
                        cursor: pointer
                    }
                }

            }
        }
    }
}