.item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .main-title {
        font-weight: 400;
        margin-bottom: 2em;
    }


    .subtask-list {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .subtask-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    ul {

        width: 100%;

        li {
            width: 100%;

            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border: 1px solid var(--line-color);
                border-radius: 1.5em;
                padding: .5em 1em;
                margin: .3em 0;
                background-color: var(--item-background-color);
                color: var(--item-text-color);

                .info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;

                    font-size: 1.2em;

                    .color {
                        height: 1em;
                        width: 1em;
                        border-radius: 50%;
                        margin-right: 1em,
                    }
                }

                .params {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }


    .create-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: .5em;
    }
}